<html>
  <head>
    <title>Cadastro</title>
    <link rel="stylesheet" href="../css/cadastro.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"rel="stylesheet">
  </head>

  <body>
     <%- include('../partials/header.ejs') %>

    <main>
      <form action="/cadastro" method="POST" class="quadrado">
        <h1>Faça seu cadastro</h1>
        <button type="submit" id="btnClique">
          <section>
            <img src="../imagem/google.png" class="googleimg" />
            <span>Continue com Google</span>
          </section>
        </button>

        <br />
        <article class="formulario">
          <h2>Dados de acesso</h2>
          <br />
          <article>
            <label for="nome">Digite seu nome completo:</label>
            <input
              type="text"
              id="nome"
              name="nome"
              value="<%= valores.nome %>"
              class="<%= erroValidacao.nome %>"
            />
            <span class="msgErro"><%= msgErro.nome %></span>
          </article>

          <br />
          <section>
            <label for="email">Adicione um Endereço de e-mail:</label>
            <input
              type="text"
              id="email"
              name="email"
              placeholder="example123@gmail.com"
              value="<%= valores.email %>"
              class="<%= erroValidacao.email || sucessoValidacao.email %>"
            />
            <span class="msgErro"><%= msgErro.email %></span>
          </section>

          <br />
          <article>
            <label for="data">Data de Nascimento:</label>
            <input
              type="date"
              id="data"
              name="data"
              value="<%= valores.data %>"
              class="<%= erroValidacao.data %>"
            />
            <span class="msgErro"><%= msgErro.data %></span>
          </article>

          <br />
          <section>
            <label for="senha">Crie uma senha forte:</label>
            <input
              type="password"
              id="senha"
              name="senha"
              value="<%= valores.senha %>"
              class="<%= erroValidacao.senha %>"
            />
            <span class="msgErro"><%= msgErro.senha %></span>
            <br>
            <label> Sua senha deve conter: <br>
              ✔ uma letra maiúscula <BR>
              ✔ um número <bR>
              ✔ um caractere especial</label>
          </section>

          <br />
          <section>
            <label for="confirmar-senha">Confirmar senha:</label>
            <input 
            type="password" 
            id="confirmar-senha" 
            name="confirmar-senha"
            value="<%= valores["confirmar-senha"] %>" 
            class="<%= erroValidacao["confirmar-senha"] %>" >
            <span class="msgErro"><%= msgErro["confirmar-senha"] %></span>
          </section>

          <h1 class="login">
            Já possui uma conta? Faça seu <a href="/login">login</a>
          </h1>

          <button type="submit" id="btnClique">Juntar-se</button>
        </article>
      </form>
    </main>

<%- include('../partials/footer.ejs') %>
  
  </body>
</html>