<html>
  <head>
    <title>Healthy safely</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <link rel="stylesheet" href="../css/login.css" />
    <link rel="icon" href="../imagem/logo 3.png" type="image/x-icon" />
  </head>

  <body>
    <%- include('../partials/header.ejs') %>
    <!--Script de encaminhamento depois de 3 segundo para a proxima pagina caso login esteja correto-->
    <% if (sucesso === true) { %>
    <script>
      setTimeout(() => {
        window.location.href = "/tela-inicial";
      }, 1500);
    </script>
    <% } %>
    <!---->

    <main>
      <!-- Lado esquerdo-->
      <section class="lado-esquerdo"></section>

      <!-- Lado direito com formulário -->
      <section class="lado-direito">
        <form action="/login" method="post" class="quadrado">
          <article>
            <h1>Login</h1>
            <br />
            <label for="usuarioDigitado">Endereço de email</label>
            <input
              type="text"
              id="usuarioDigitado"
              name="usuarioDigitado"
              placeholder="Digite seu email"
              value="<%= valores?.usuarioDigitado || '' %>"
              class="digitarusuario <%= erro ? 'erro' : '' %>"
            />
          </article>
          <br />
          <article>
            <label for="senhaDigitada">Senha</label>
            <input
              type="password"
              id="senhaDigitada"
              name="senhaDigitada"
              placeholder="Digite sua senha"
              value="<%= valores?.senhaDigitada || '' %>"
              class="digitarsenha <%= erro ? 'erro' : '' %>"
            />
          </article>
          <% if (erro) { %><span class="msgErro"><%= erro %></span> <% } %>

          <h4 class="cadastro">
            Não possui uma conta?
            <a href="#" onclick="abrirModalCadastro()">Crie uma conta</a>
          </h4>

          <br />
          <button type="submit" id="btnClique" class="acessar">Acessar</button>
        </form>

        <% if (sucesso) { %>
        <nav class="sucesso-mensagem">
          <i class="bi bi-hand-thumbs-up-fill"></i>
          <section>Login realizado com sucesso! Redirecionando...</section>
          <article class="barra">
            <section class="barra-progresso"></section>
          </article>
        </nav>
        <%} %>
      </section>
    </main>
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
