<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Agendar consulta</title>
    <link rel="stylesheet" href="../css/agendamento.css" />
  </head>

  <body>
    <%- include('../partials/header.ejs') %>
    <!---->
    <%- include('../partials/menu-inferior.ejs') %>
    <main>
      <section class="card">
        <h2 class="titulo">Agendar consulta</h2>

        <!-- Barra de progresso -->
        <div class="progresso">
          <span class="ativo"></span>
          <span></span>
          <span></span>
          <span></span>
        </div>

        <h4>Beneficiário</h4>
        <!-- Beneficiário -->
        <div class="beneficiario">
          <div class="icone">
            <img src="../imagem/user.png" alt="Foto de perfil do usuário" />
          </div>
          <span class="nome"
            ><% if(usuario.tipo === "cliente") {%> <%= usuario.nome %> <%}
            <!---->
            else if(usuario.tipo === "profissional"){ %> <%=
            usuario.nomeProfissional %> <% }
            <!---->
            else if(usuario.tipo === "farmacia"){ %> <%= usuario.responsavel %>
            <% } %></span
          >
        </div>

        <!-- Contato -->
        <div class="contato">
          <p>
            <strong>Email:</strong>
            <a href="mailto:maria123@gmail.com"><%= usuario.email %></a>
            <i class="bi bi-pencil-fill open-modal"></i>
          </p>
          <p>
            <strong>Telefone:</strong> <%= usuario.telefone || "Não informado"
            %>
            <i class="bi bi-pencil-fill open-modal"></i>
          </p>
        </div>

        <!-- Confirmação -->
        <div class="confirmacao">
          <h3>Confirme seus dados</h3>
          <p>
            Entraremos em contato através dos dados acima para confirmar seu
            agendamento. Certifique-se de que estão atualizados.
          </p>
        </div>

        <article class="voltar-avancar">
          <button
            class="avancar"
            onclick="window.location.href=`/tomarammeutela`"
          >
            cancelar
          </button>
          <button
            class="avancar"
            onclick="window.location.href=`/agendamento2`"
          >
            Avançar
          </button>
        </article>
      </section>
    </main>
    <!--FOOTER-->
    <%- include('../partials/footer.ejs') %>
    <!--FOOTER-->
  </body>
</html>
