<html>
    <head>
        <title>Cadastro</title>
        <link rel="stylesheet" href="../css/cadastro.css">
    </head>

    <body>
    <!--Validação(cadastro)-->
    <%
    let erroValidacao =  {
        "nome": "", 
        "email": "",
        "senha": "",
        "confirmar-senha": ""
    };

    let msgErro =  {
        "nome": "", 
        "email": "",
        "senha": "",
        "confirmar-senha": ""
    };

    if (erros) {
        erros.errors.forEach(function(erro) {
            if (erro.path == "nome") {
                erroValidacao.nome = "erro";
                msgErro.nome = erro.msg;
            }

            if (erro.path == "email") {
                erroValidacao.email = "erro";
                msgErro.email = erro.msg;
            }

            if (erro.path == "senha") {
                erroValidacao.senha = "erro";
                msgErro.senha = erro.msg;
            }

            if (erro.path == "confirmar-senha") {
                erroValidacao["confirmar-senha"] = "erro";
                msgErro["confirmar-senha"] = erro.msg;
            }
        });
    }
    %>
    <!--Fim da Validação(cadastro)-->

    <form action="/cadastro" method="POST" class="quadrado">
        <h1>Cadastro</h1>
            <br>
            <article>
                <label for="nome">Digite seu nome completo:</label>
                <input type="text" id="nome" name="nome" value="<%= valores.nome %>" class="<%= erroValidacao.nome %>">
                <span class="msgErro"><%= msgErro.nome %></span>
            </article>
            <br>
            <article>    
                <label for="emailDigitado">Adicione um Endereço de email:</label>
                <input type="text" placeholder="example123@gmail.com" id="email" name="email" value="<%= valores.email %>" class="<%= erroValidacao.email %>">
                <span class="msgErro"><%= msgErro.email %></span>
            </article>
            <br>
            <article>
                <label for="????">Data de Nascimento:</label> <!--Isso não interessa por enquanto-->
                <input type="date" id="??" name="??">
            </article>
            <br>
            <article>
                <label for="senha">Crie uma senha:</label>
                <input type="password" id="senha" name="senha" value="<%= valores.senha %>" class="<%= erroValidacao.senha %>">
                <span class="msgErro"><%= msgErro.senha %></span>
            </article>
            <br>
            <article>
                <label for="confirmar-senha">Confirmar senha:</label>
                <input type="password" id="confirmar-senha" name="confirmar-senha" value="<%= valores["confirmar-senha"] %>" class="<%= erroValidacao["confirmar-senha"] %>">
                <span class="msgErro"><%= msgErro["confirmar-senha"] %></span>
            </article>
                    
            <h4 class="cadastro">Já possui uma conta? Faça seu <a href="/login">login</a></h4>
            
            <button type="submit" id="btnClique">Acessar</button>
    </form>
</body>
</html>
