<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Healthy Safely</title>
    <link rel="icon" href="../imagem/Logo repaginado 2.png" />
    <link rel="stylesheet" href="../css/perfil-content.css" />
  </head>
  <body>
    <%- include('../partials/header.ejs') %>
    <!---->
    <%- include('../partials/menu-inferior.ejs') %>

    <main>
      <section class="container">
        <a href="/perfil"><button class="botao-prev">&#10094;</button></a>
        <!-- PERFIL -->
        <%- include('../partials/perfil-info') %>
        <!-- IDENTIDADE -->
        <section aria-labelledby="titulo-identidade">
          <h2 class="titulo-identidade" id="titulo-identidade">
            Informações de Identidade
          </h2>

          <dl class="info-modal">
            <div>
              <dt><i class="bi bi-person-badge"></i> Tipo de Conta:</dt>
              <dd>
                <% if (usuario.tipo === "cliente") { %> Cliente <% }
                <!---->
                else if (usuario.tipo === "profissional") { %> Profissional <% }
                <!---->
                else if (usuario.tipo === "farmacia") { %> Farmácia <% } %>
              </dd>
            </div>
            <div>
              <dt><i class="bi bi-person"></i> Nome Completo:</dt>
              <dd><%= usuario.nome || usuario.responsavel %></dd>
            </div>
            <div>
              <dt><i class="bi bi-person"></i> Nome de Usuario:</dt>
              <dd><%= usuario.nomeusuario %></dd>
            </div>

            <div>
              <dt><i class="bi bi-credit-card-2-front"></i> CPF:</dt>
              <dd><%= usuario.CPF || "Não informado" %></dd>
            </div>
            <div>
              <dt><i class="bi bi-envelope"></i> Email:</dt>
              <dd><%= usuario.email %></dd>
            </div>
            <div>
              <dt><i class="bi bi-calendar"></i> Data de Nascimento:</dt>
              <dd><%= usuario.data || "Não informado" %></dd>
            </div>

            <div>
              <dt><i class="bi bi-telephone"></i> Telefone:</dt>
              <dd><%= usuario.telefone || "Não informado" %></dd>
            </div>
            <!---->
            <% if (usuario.tipo === "farmacia") { %>
            <div>
              <dt><i class="bi bi-file-text"></i> CNPJ:</dt>
              <dd><%= usuario.CNPJ || "Não informado" %></dd>
            </div>
            <!---->
            <% } else if (usuario.tipo === "profissional") { %>
            <div>
              <dt><i class="bi bi-file-text"></i> CREF:</dt>
              <dd><%= usuario.CREF || "Não informado" %></dd>
            </div>
            <div>
              <dt><i class="bi bi-briefcase"></i> Profissão:</dt>
              <dd><%= usuario.profissao %></dd>
            </div>

            <% } %>
            <!---->
          </dl>

          <div class="acoes-identidade">
            <button type="submit" class="salvar">Editar informações</button>
          </div>
        </section>
      </section>
    </main>

    <%- include('../partials/footer.ejs') %>
  </body>
</html>
