<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <title>Perfil | Healthy Safely - Hábitos Saudáveis</title>

    <meta
      name="description"
      content="Acompanhe seus hábitos saudáveis, progresso, tarefas diárias e evolução no Healthy Safely."
    />

    <meta name="robots" content="index, follow" />
    <link rel="icon" href="/imagem/Logo repaginado 2.png" />
    <link rel="stylesheet" href="/css/perfil.css" />
    <link rel="stylesheet" href="/css/global.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    />
  </head>
  <body>
    <%- include('../partials/header.ejs') %>

    <main class="perfil-corpo">
      <%- include('../partials/botao-voltar.ejs') %>
      <!--PERFIL-->
      <section class="perfil">
        <figure class="foto-perfil">
          <img
            src="/imagem/user.png"
            alt="Foto de perfil de <%= usuario.nome %>"
          />
          <label for="uploadFoto" class="camera-icon">
            <i class="bi bi-camera-fill" aria-hidden="true"></i>
          </label>

          <input type="file" id="uploadFoto" accept="image/*" hidden />
        </figure>

        <section class="info-perfil">
          <h1><%= usuario.nome.split(' ').slice(0,2).join(' ') %></h1>
          <h2>@<%= usuario.nomeusuario %></h2>
          <p class="seguidores">
            <span><%= usuario.seguidores || 0 %> seguidores</span> •
            <span><%= usuario.seguindo || 0 %> seguindo</span>
          </p>
        </section>

        <article class="streak">
          <h2>Streak</h2>
          <p>
            <%= usuario.streak || 0 %> dias
            <i class="fa-solid fa-fire" aria-hidden="true"></i>
          </p>
        </article>
      </section>

      <!--RANK-->
      <section class="rank-container">
        <h2>
          <i class="fa-solid fa-ranking-star" aria-hidden="true"></i> Nível
          Atual
        </h2>
        <section class="rank-info">
          <span class="rank-atual"
            ><i class="fa-solid fa-star" aria-hidden="true"></i> Nivel 1
          </span>
          <span class="rank-proximo"
            >Próximo: <i class="fa-solid fa-star" aria-hidden="true"></i> Nivel
            2
          </span>
        </section>

        <section class="barra-rank">
          <section
            class="barra-rank"
            role="progressbar"
            aria-valuenow="<%= usuario.xp || 0 %>"
            aria-valuemin="0"
            aria-valuemax="500"
          ></section>
        </section>

        <span class="rank-detalhe"><%= usuario.xp || 0 %>/500</span>
        <p></p>
        <span class="rank-detalhe">
          Faltam <%= 500 - (usuario.ranked || 0) %> XP para subir de rank
        </span>
      </section>

      <section class="calendario">
        <section class="calendario-wrapper">
          <!-- CALENDÁRIO -->
          <article class="calendario-inner">
            <article class="semana">
              <abbr title="Domingo">Dom</abbr>
              <abbr title="Segunda-feira">Seg</abbr>
              <abbr title="Terça-feira">Ter</abbr>
              <abbr title="Quarta-feira">Qua</abbr>
              <abbr title="Quinta-feira">Qui</abbr>
              <abbr title="Sexta-feira">Sex</abbr>
              <abbr title="Sábado">Sáb</abbr>
            </article>

            <section class="dias" id="dias" aria-live="polite"></section>
          </article>

          <!-- BARRA DE PROGRESSO -->
          <article class="progress-vertical">
            <span class="data">01/03</span>

            <section class="bolinhas">
              <article class="item">
                <span class="bolinha ativa" aria-hidden="true"></span>
                <span>Beba 3L de água</span>
              </article>

              <article class="item">
                <span class="bolinha" aria-hidden="true"></span>
                <span>Dormir antes das 23h </span>
              </article>
            </section>
          </article>
        </section>
      </section>

      <!-- Estatísticas -->
      <section class="stats">
        <article class="stat">
          <h3>XP TOTAL</h3>
          <p>
            <%= usuario.pontuacao || 0 %><i
              class="fa-solid fa-star"
              aria-hidden="true"
            ></i>
          </p>
        </article>
        <article class="stat">
          <h3>TAREFAS TOTAIS CONCLUÍDAS</h3>
          <p>
            <%= usuario.tarefasConcluidas || 0 %><i
              class="fa-solid fa-book"
              aria-hidden="true"
            ></i>
          </p>
        </article>
        <article class="stat">
          <h3>MEDALHAS TOTAIS</h3>
          <p>
            <%= usuario.medalhas || 0 %><i
              class="fa-solid fa-medal"
              aria-hidden="true"
            ></i>
          </p>
        </article>
      </section>

      <!-- Medalhas -->
      <section class="medals">
        <h2>
          <i class="fa-solid fa-medal" aria-hidden="true"></i> Medalhas
          Conquistadas
        </h2>
        <section class="medal-list">
          <article class="medal-item">
            <figure class="medal tooltip">
              <img
                src="/imagem/oie_transparent (1).png"
                alt="Medalha Corredor Nivel 1"
                width="80px"
                height="80px"
              />

              <span class="tooltip-text">Percorreu 10km! Parabéns 🎉</span>
              <span>Corredor I</span>
            </figure>
          </article>
        </section>
      </section>

      <section class="perfil-footer">
        <section class="central-conta">
          <h2>
            <i class="fa-solid fa-user" aria-hidden="true"></i> Central da Conta
          </h2>
          <article class="perfil-botoes">
            <button
              onclick="window.location.href = '/configuracoes'"
              aria-label="Ir para página de configurações"
            >
              <i class="fa-solid fa-gear" aria-hidden="true"></i> Configurações
            </button>
            <button
              onclick="window.location.href = '/privacidade'"
              aria-label="Ir para página de privacidade"
            >
              <i class="fa-solid fa-shield-halved" aria-hidden="true"></i>
              Privacidade
            </button>
            <button
              onclick="window.location.href = '/notificacoes'"
              aria-label="Ir para página de notificações"
            >
              <i class="fa-solid fa-bell" aria-hidden="true"></i> Notificações
            </button>
            <button
              onclick="window.location.href = '/ajuda'"
              aria-label="Ir para página de ajuda "
            >
              <i class="fa-solid fa-heart" aria-hidden="true"></i> Ajuda
            </button>
            <button
              onclick="window.location.href = '/logout'"
              aria-label="Deslogar da conta"
            >
              <i class="fa-solid fa-right-from-bracket" aria-hidden="true"></i>
              Sair da Conta
            </button>
          </article>
        </section>
      </section>
    </main>

    <%- include('../partials/footer.ejs') %>
    <script>
      const input = document.getElementById("uploadFoto");
      const img = document.getElementById("previewPerfil");

      img.addEventListener("click", () => {
        input.click();
      });

      input.addEventListener("change", function () {
        const file = this.files[0];

        if (file) {
          const reader = new FileReader();

          reader.onload = function (e) {
            img.src = e.target.result;
          };

          reader.readAsDataURL(file);
        }
      });
    </script>
    <script>
      const diasContainer = document.getElementById("dias");

      // EXEMPLO (depois você puxa do banco)
      const diasFeitos = [1, 2, 3, 4, 5, 6, 7];

      const hoje = new Date().getDate();
      const totalDias = new Date().getDate(); // pode ajustar pro mês completo

      let streak = 0;

      // calcula streak
      for (let i = hoje; i > 0; i--) {
        if (diasFeitos.includes(i)) {
          streak++;
        } else {
          break;
        }
      }

      // cria calendário
      for (let i = 1; i <= 30; i++) {
        const div = document.createElement("div");
        div.classList.add("dia");
        div.innerText = i;

        if (diasFeitos.includes(i)) {
          div.classList.add("concluido");
        }

        if (i === hoje) {
          div.classList.add("hoje");
        }

        // marca dias da streak
        if (i > hoje - streak && i <= hoje) {
          div.classList.add("streak");
          div.innerHTML = "🔥";
        }

        diasContainer.appendChild(div);
      }
    </script>
  </body>
</html>
