<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <script src="/js/darkmode.js"></script>
    <meta charset="UTF-8" />
    <title>Perfil | Healthy Safely - Hábitos Saudáveis</title>
    <meta
      name="description"
      content="Acompanhe seus hábitos saudáveis, progresso, tarefas diárias e evolução no Healthy Safely."
    />
    <meta name="robots" content="index, follow" />
    <link rel="icon" href="/imagem/Logo repaginado 2.png" />
    <link rel="stylesheet" href="/css/perfil.css" />

    <link rel="stylesheet" href="/css/global.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css"
    />
  </head>
  <body>
    <%- include('../partials/header.ejs') %>

    <main class="perfil-corpo">
      <!--PERFIL-->
      <section class="perfil">
        <figure class="foto-perfil">
          <img
            src="/imagem/user.png"
            alt="Foto de perfil de <%= usuario.nome %>"
          />
          <label for="uploadFoto" class="camera-icon">
            <i class="bi bi-camera-fill" aria-hidden="true"></i>
          </label>

          <input type="file" id="uploadFoto" accept="image/*" hidden />
        </figure>

        <section class="info-perfil">
          <h1><%= usuario.nome.split(' ').slice(0,2).join(' ') %></h1>
          <h2>@<%= usuario.nomeusuario %></h2>
          <p class="seguidores">
            <span><%= usuario.seguidores || 0 %> seguidores</span> •
            <span><%= usuario.seguindo || 0 %> seguindo</span>
          </p>
        </section>
      </section>

      <!--NIVEL-->
      <section class="containers-gerais" aria-labelledby="grupo-conta">
        <h2 class="containers-gerais-titulo" id="grupo-conta">Nivel atual</h2>
        <section class="rank-info">
          <span class="rank-atual"><i class="bi bi-star"></i> Nivel 1 </span>
          <span class="rank-proximo">Próximo: Nivel 2 </span>
        </section>

        <section class="barra-rank">
          <section
            class="barra-rank"
            role="progressbar"
            aria-valuenow="<%= usuario.xp || 0 %>"
            aria-valuemin="0"
            aria-valuemax="500"
          ></section>
        </section>

        <span class="rank-detalhe"><%= usuario.xp || 0 %>/500</span>
        <p></p>
        <span class="rank-detalhe">
          Faltam <%= 500 - (usuario.ranked || 0) %> XP para subir de rank
        </span>
        <br />
      </section>

      <!-- Estatísticas -->
      <section class="stats">
        <article class="stat">
          <h3>XP TOTAL</h3>
          <p><%= usuario.pontuacao || 0 %></p>
        </article>
        <article class="stat">
          <h3>TAREFAS TOTAIS CONCLUÍDAS</h3>
          <p><%= usuario.tarefasConcluidas || 0 %></p>
        </article>
        <article class="stat">
          <h3>STREAK</h3>
          <p>
            <%= usuario.streak || 0 %> dias
            <i class="bi bi-fire streak"></i>
          </p>
        </article>
      </section>

      <!-- Amizades -->
      <section class="containers-gerais" aria-labelledby="grupo-conta">
        <h2 class="containers-gerais-titulo" id="grupo-conta">Amizades</h2>
        <section class="amizade-list">
          <article class="amizade-item">
            <figure>
              <img
                src="/imagem/user.png"
                alt="Foto de perfil de <%= usuario.nome %> height='20px' width='20px'"
              />
            </figure>
            <span class="amizade-nome">The niell nerd</span>
            <span class="amizade-status">Online</span>
          </article>
          <article class="amizade-item">
            <figure>
              <img
                src="/imagem/user.png"
                alt="Foto de perfil de <%= usuario.nome %> height='20px' width='20px'"
              />
            </figure>
            <span class="amizade-nome">Mauricio</span>
            <span class="amizade-status">Offline</span>
          </article>
        </section>
      </section>

      <!-- CONQUISTAS -->
      <section class="containers-gerais" aria-labelledby="grupo-conta">
        <h2 class="containers-gerais-titulo" id="grupo-conta">Conquistas</h2>
      </section>

      <section class="perfil-footer">
        <section class="containers-gerais" aria-labelledby="grupo-conta">
          <h2 class="containers-gerais-titulo" id="grupo-conta">
            Central da Conta
          </h2>

          <a href="/configuracoes" aria-label="Ir para página de configurações">
            <article class="containers-botoes">
              <section class="containers-botoes-esquerda">
                <figure class="containers-icone" aria-hidden="true">
                  <i class="bi bi-gear-fill"></i>
                </figure>
                <section>
                  <span class="botao-nome">Configurações</span>
                  <span class="botao-desc"
                    >Gerencie suas preferências e configurações de conta</span
                  >
                </section>
              </section>

              <i class="bi bi-chevron-right config-seta" aria-hidden="true"></i>
            </article>
          </a>

          <a href="/privacidade" aria-label="Ir para página de privacidade">
            <article class="containers-botoes">
              <section class="containers-botoes-esquerda">
                <figure class="containers-icone" aria-hidden="true">
                  <i class="bi bi-shield-fill"></i>
                </figure>
                <section>
                  <span class="botao-nome">Privacidade</span>
                  <span class="botao-desc"
                    >Gerencie suas preferências de privacidade</span
                  >
                </section>
              </section>
              <i class="bi bi-chevron-right config-seta" aria-hidden="true"></i>
            </article>
          </a>

          <a href="/notificacoes" aria-label="Ir para página de notificações">
            <article class="containers-botoes">
              <section class="containers-botoes-esquerda">
                <figure class="containers-icone" aria-hidden="true">
                  <i class="bi bi-bell-fill"></i>
                </figure>
                <section>
                  <span class="botao-nome">Notificações</span>
                  <span class="botao-desc"
                    >Gerencie suas preferências de notificação</span
                  >
                </section>
              </section>

              <i class="bi bi-chevron-right config-seta" aria-hidden="true"></i>
            </article>
          </a>

          <a href="/ajuda" aria-label="Ir para página de ajuda">
            <article class="containers-botoes">
              <section class="containers-botoes-esquerda">
                <figure class="containers-icone" aria-hidden="true">
                  <i class="bi bi-question-circle-fill"></i>
                </figure>
                <section>
                  <span class="botao-nome">Ajuda</span>
                  <span class="botao-desc"
                    >Obtenha suporte e informações sobre o uso do serviço</span
                  >
                </section>
              </section>

              <i class="bi bi-chevron-right config-seta" aria-hidden="true"></i>
            </article>
          </a>

          <a href="/sair" aria-label="Ir para página de sair">
            <article class="containers-botoes containers-botoes-perigo">
              <section class="containers-botoes-esquerda">
                <figure class="containers-icone perigo" aria-hidden="true">
                  <i class="bi bi-box-arrow-right"></i>
                </figure>
                <section>
                  <span class="botao-nome">Sair</span>
                  <span class="botao-desc"
                    >Encerre sua sessão e saia do aplicativo</span
                  >
                </section>
              </section>

              <i class="bi bi-chevron-right config-seta" aria-hidden="true"></i>
            </article>
          </a>
        </section>
      </section>
    </main>

    <%- include('../partials/footer.ejs') %>
    <script>
      const input = document.getElementById("uploadFoto");
      const img = document.getElementById("previewPerfil");

      img.addEventListener("click", () => {
        input.click();
      });

      input.addEventListener("change", function () {
        const file = this.files[0];

        if (file) {
          const reader = new FileReader();

          reader.onload = function (e) {
            img.src = e.target.result;
          };

          reader.readAsDataURL(file);
        }
      });
    </script>
  </body>
</html>
