<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Perfil Profissional | Área Profissional</title>
    <link rel="stylesheet" href="/css/profissional/perfil-profissional.css" />
    <link rel="icon" href="../imagem/Logo repaginado 2.png" />
  </head>
  <body>
    <%- include("../../partials/header") %>
    <!---->
    <%- include("../../partials/menu-inferior.ejs") %>

    <div class="admin-container">
      <%- include("../../partials/adm/sidebar-profissional.ejs") %>

      <main class="admin-main">
        <section class="perfil-profissional">
          <div class="foto-container">
            <img
              src="../imagem/user.png"
              alt="Foto do Profissional"
              class="foto-profissional"
            />
            <div>
              <h1><%= usuario.nome</h1>
              <p style="color: #20413b; margin-top: 4px">
                <%= usuario.profissao
              </p>
              <p style="color: #666">CRN: 12345-SP</p>
            </div>
          </div>

          <div class="descricao-profissional">
            <label>Descrição</label>
            <textarea
              name="descricao"
              rows="4"
              placeholder="Fale um pouco sobre sua experiência e especialidades..."
            ></textarea>
          </div>

          <div class="btn-container">
            <button class="btn-salvar">Salvar Alterações</button>
          </div>
        </section>
      </main>
    </div>

    <%- include("../../partials/footer") %>
  </body>
</html>
